body {
  background-color: #1c1c1c;	
  font-family: 'Courier';
}

h1 {
  font-family: 'Courier';
  color: #006400;
  margin-top: 0px;
}

h3 {
  font-family: 'Courier';
  color: #006400;
}

input {
  border: 1px;
  border-radius: 30px;
  height: 30px;
}

.scene {
  text-align: center;
}
